/* ########################################### */
/*                 Global                      */
/* ########################################### */
*{
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
    background-color:rgb(0,0,0);
    color:#f0f0f0;
}

a{
    color:#FF0042;
    font-weight: bolder;
    text-decoration: none;
}

h1{
    font-size:24px;
    font-weight: bolder;
}

h2{
    font-size:20px;
    font-weight: bolder;
    
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3d191c96;
    width: 1300px;
    padding: 10px;
    margin: auto;
}




.container{
    margin: 20px;
    padding: 20px;
}




header{
    margin-inline: 10px;
}


@font-face {
    font-family:aquire;
    src:url(aquire.otf);
}


.footer{
   text-align: justify;
}

